<div class="stepper" [class.vertical]="direction === directions.Vertical">
  <div *ngFor="let step of steps; let i=index" class="step-container">
    <app-step [step]="step"
              [isCurrentStep]="currentStep === i"
              [isPastStep]="currentStep > i"
              [stepIndex]="i"
              [color]="color"
              [direction]="direction">
    </app-step>
  </div>
</div>
