<app-stepper [steps]="steps" [currentStep]="currentStepIndex" [direction]="directions.Horizontal"></app-stepper>
<div class="next-button-container">
  <button class="next-button" (click)="nextStep()">{{ buttonLabel }}</button>
</div>
