.step {
  color: #FFFFFF;

  &.vertical {
    display: flex;

    .step {
      &-label {
        width: 55px;
        text-align: start;
      }

      &-point {
        top: 0;

        &-container {
          margin: 0 0 0 20px;
          height: 50px;
        }
        &-line {
          width: 4px;
          height: 50px;
          position: absolute;
          left: -2px;
          bottom: -2px;

          &-active {
            height: 0;
            width: 4px;
            position: absolute;
            left: -2px;

            &.current {
              background: var(--dynamic-color, #22ECE9);
              height: 50px;
              transition: height 0.5s ease-out;
            }

            &.past {
              background: var(--dynamic-color, #22ECE9);
              transition: height 0.5s ease-out;
              bottom: -2px;
            }
          }
        }
      }
    }
  }

  &-label {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
  }

  &-point {
    color: #A5A5A5;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    &-container {
      display: flex;
      position: relative;
      margin-top: 20px;

      &.vertical {
        margin: 10px 0 0 20px;
      }
    }

    &-line {
      height: 4px;
      width: 0;

      &.vertical {
        width: 4px;
        height: 50px;
      }

      &-active {
        width: 0;
        &.current {
          background: var(--dynamic-color, #22ECE9);
          width: 100%;
          transition: width 0.5s ease-out;
        }

        &.past {
          background: var(--dynamic-color, #22ECE9);
          transition: width 0.5s ease-out;
        }
      }

      &.future {
        background: none;
      }

      &.past {
        background: #202020;
        width: 100%;
      }
    }

    &.current {
      background: var(--dynamic-color, #22ECE9);
      color: #0C0C0C;
    }

    &.future {
      background: #202020;
      border: 1px solid #383838;
      width: 18px;
      height: 18px;
    }

    &.past {
      background: #202020;
    }
  }
}
