<div class="step" [style.--dynamic-color]="color" [class.vertical]="direction === directions.Vertical">
  <div class="step-label">
    {{ step?.label }}
  </div>
  <div class="step-point-container" [ngClass]="stepMarker">
    <div class="step-point-line" [ngClass]="stepMarker"></div>
    <div class="step-point-line-active" [ngClass]="stepMarker"></div>
    <div  class="step-point" [ngClass]="stepMarker">
      <ng-container *ngIf="!isPastStep else pastStep">
        {{ stepIndex + 1 }}
      </ng-container>
      <ng-template #pastStep>
        <img src="assets/done-arrow.svg" alt="">
      </ng-template>
    </div>
  </div>
</div>
